
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row jumbotron">
    @Html.ActionLink("Manage Users", "Index", "UsersManager", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Manage Products", "Index", "ProductManagement", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("View Emails Receaved", "Index", "ViewEmails", null, new { @class = "btn btn-primary" })
</div>
