@Styles.Render("~/Content/Styles/gallery.css")

<section class="caruselcontainer">
    <div class="carusel">
        <img class="figure" src="~/Content/Products/blueShirt.jpg">
        <img class="figure" src="~/Content/Products/flannelShirt.jpg">
        <img class="figure" src="~/Content/Products/lumberjackShirt.jpg">
        <img class="figure" src="~/Content/Products/lumberjackShirt.jpg">
        <img class="figure" src="~/Content/Products/patternShirt.jpg">
        <img class="figure" src="~/Content/Products/whiteShirt.jpg">
    </div>
    <div class="btn_links">
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
    </div>

</section>
    @section scripts{
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        @Scripts.Render("~/bundles/jQwery.cubeGalleryPlagin.js")
    }
