@Styles.Render("~/Content/Styles/gallery.css")

<section class="caruselcontainer">
    <div class="carusel">
        <img class="figure" src="~/Content/Products/1.jpg">
        <img class="figure" src="~/Content/Products/2.jpg">
        <img class="figure" src="~/Content/Products/3.jpg">
        <img class="figure" src="~/Content/Products/4.jpg">
        <img class="figure" src="~/Content/Products/5.jpg">
        <img class="figure" src="~/Content/Products/6.jpg">
    </div>
    <div class="btn_links">
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
        <a href="#" class="caruselbutton"></a>
    </div>
</section>
