@using Bulgarian_Apparel.Web.Models.Home
@model ICollection<PostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bulgarian Apprael</h1>
    <div class="rotator-container">
            @Html.Partial("~/Views/Widgets/_Cube.cshtml")
    </div>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">View products</a></p>
</div>

