@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <input id="messageInput" type="text"/>
    <button id="chatButton">Send message</button>
</div>
<div id="messagesDiv">

</div>

@section scripts{
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="/signalr/hubs"></script>

    <script>
        $(function () {
            $.connection.hub.start();

            const chat = $.connection.chat;
            chat.client.receiveMessage = (msg) => {
                $('#messagesDiv').append(msg + '<br />');
            }

            $('#chatButton').click(() => {
                chat.server.sendMessage($('#messageInput').val())
            })
        })
    </script>
    }